:root{
    --mainColor:#212529;
    --secondColor:#1BC997;
    --third:#6C757D;
}
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: "Montserrat Alternates", sans-serif;
    color:white;
}
a{
    text-decoration: none;
    color:white;
}
li{
    list-style: none;
}

.nav-anim{
    background-color: var(--secondColor);
    color:white !important;
    transition: 0.5s all;
}
.nav-anim:hover{
    transform: scale(1.3);
}
.about-me{
    background-color: var(--mainColor);
}
.about-me-cont{
    width:75%;
    padding: 30px;
    position:relative;
}


.header-cont{
    position: absolute;
    background-color: var(--mainColor);
    bottom:95%;
    padding: 0px 30px;
    left:50%;
    transform: translateX(-50%);
}
.img-cont{
    width:22rem;
    height:23rem;
}
.btn-hover-effect{
    transition: 1s all;
}
.border-green{
    border-radius: 50px;
    border: var(--secondColor) solid 1px;
    background-color: transparent;
    color: var(--secondColor)
}

.btn-hover-effect:hover{
    background-color: var(--secondColor);
    color: white;
}

.animation{
    animation-name: arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes arrow {
    0%{
        top:0;
        opacity: 0;
    }
    100%{
        top:50%;
        opacity: 1;
    }
}
.heading{
    text-align: center;
    font-size: 100px;
    position: relative;
    margin-bottom: 20px;
    font-family: 'Baskervville SC';
}

.heading::before{
    position: absolute;
    content: '';
    background-color: white;
    top:50%;
    transform: translateY(-50%);
    width: 26%;
    height: 3px;
    left:0;
}

.heading::after{
    position: absolute;
    content: '';
    background-color: white;
    top:50%;
    transform: translateY(-50%);
    width: 26%;
    height: 3px;
    right:0;
}




.portfolio-menu-active::after{
    content: "";
    position: absolute;
    width:100%;
    height: 5%;
    background-color: var(--secondColor);
    bottom:0;
    left:0;
}

.project-item{
    transition: 0.7s all;
}

.project-hover:hover .project-item{
    transform: scale(1.05);
}

.hidden-hover{
    display: none;
    transition: 0.5s all;
}

.custom-bar-design{
    background-color: var(--secondColor);
}

.w-90{
    width:90%;
}
.language-used{
    border: 1px solid var(--secondColor);
    color: var(--secondColor);
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}


.skills-btn-hover{
    transition:0.5s all;
    border: solid var(--third) 2px;
    border-radius: 50px;
    padding: 10px 50px;
    font-size:16px;
    color:var(--third);
    background-color: transparent;
}
.skills-btn-hover:hover{
    background-color: var(--third);
    color:white;
}
.bg-second{
    background-color: var(--secondColor);
}
.icon-hover{
    transition: 0.5s all;
}
.icon-hover:hover{
    color: var(--secondColor)
}
/***************************************************************************************************************/
@media (width<=992px) and (width>=768px){
    .img-cont{
        width:18rem;
        height:19rem;
    }
    .about-me-cont{
        text-align: center;
    }
    .about-me-cont p{
        font-size:1rem;
    }
    .about-me-cont h1{
        font-size:2.5rem;
    }
    .about-me-cont h2{
        font-size:2rem;
    }
    .heading{
        font-size: 60px;
    }
    .heading::after{
        width: 28%;
    }
    .heading::before{
        width: 28%;
    }
}

@media (width<=768px) and (width>=576px){
    .img-cont{
        width:16rem;
        height:17rem;
    }
    .about-me-cont{
        text-align: center;
    }
    .about-me-cont p{
        font-size:1rem;
    }
    .about-me-cont h1{
        font-size:1.6rem;
    }
    .about-me-cont h2{
        font-size:1.4rem;
    }
    .heading{
        font-size: 70px;
    }
    .heading::after{
        width: 17%;
    }
    .heading::before{
        width: 17%;
    }
}

@media (width<=576px){
    .img-cont{
        width:14rem;
        height:15rem;
    }
    .about-me-cont{
        width:90%;
        text-align: center;
        padding:10px
    }
    .about-me-cont p{
        font-size:0.9rem;
    }
    .about-me-cont h1{
        font-size:1.6rem;
    }
    .about-me-cont h2{
        font-size:1.4rem;
    }
    .heading{
        font-size: 40px;
    }
    .heading::after{
        width: 15%;
    }
    .heading::before{
        width: 15%;
    }
    .year{
        width: 80% !important;
    }
}