:root{
    --mainColor:#212529;
}
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: "Montserrat Alternates", sans-serif;
    color: white
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

.overlay{
    background-color: rgba(0,0,0);
}
.about-me{
    background-color: var(--mainColor);
    /* background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}
.about-me-cont{
    width:60%;
    padding: 30px;
    position:relative;
}
.header-cont{
    position: absolute;
    background-color: var(--mainColor);
    bottom:95%;
    padding: 0px 30px;
    left:50%;
    transform: translateX(-50%);
}
.img-cont{
    width:22rem;
    height:24rem;
}
.heading{
    text-align: center;
    font-size: 100px;
    position: relative;
    margin-bottom: 20px;
}

.heading::before{
    position: absolute;
    content: '';
    background-color: white;
    top:50%;
    transform: translateY(-50%);
    width: 30%;
    height: 3px;
    left:0;
}

.heading::after{
    position: absolute;
    content: '';
    background-color: white;
    top:50%;
    transform: translateY(-50%);
    width: 30%;
    height: 3px;
    right:0;
}

/***************************************************************************************************************/
@media (width<=992px) and (width>=768px){
    .img-cont{
        width:18rem;
        height:19rem;
    }
    .about-me-cont{
        text-align: center;
    }
    .about-me-cont p{
        font-size:1rem;
    }
    .about-me-cont h1{
        font-size:2.5rem;
    }
    .about-me-cont h2{
        font-size:2rem;
    }
    .heading{
        font-size: 60px;
    }
    .heading::after{
        width: 10%;
    }
    .heading::before{
        width: 10%;
    }
}

@media (width<=768px) and (width>=576px){
    .img-cont{
        width:16rem;
        height:17rem;
    }
    .about-me-cont{
        text-align: center;
    }
    .about-me-cont p{
        font-size:1rem;
    }
    .about-me-cont h1{
        font-size:1.6rem;
    }
    .about-me-cont h2{
        font-size:1.4rem;
    }
    .heading{
        font-size: 70px;
    }
    .heading::after{
        width: 13%;
    }
    .heading::before{
        width: 13%;
    }
}

@media (width<=576px){
    .img-cont{
        width:14rem;
        height:15rem;
    }
    .about-me-cont{
        width:90%;
        text-align: center;
        padding:10px
    }
    .about-me-cont p{
        font-size:0.9rem;
    }
    .about-me-cont h1{
        font-size:1.6rem;
    }
    .about-me-cont h2{
        font-size:1.4rem;
    }
    .heading{
        font-size: 40px;
    }
    .heading::after{
        width: 10%;
    }
    .heading::before{
        width: 10%;
    }
}